.card-item{
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 10px 40px 0px rgba(51, 48, 78, 0.15);
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 25px;
    padding-top: 12px;
}

.card-item .media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.card-item .media .media-img{
    display: flex !important;
    max-width: 180px;
    width: 100%;
}

.card-item .media .media-body {
    -ms-flex: 1;
    flex: 1;
}

.card-item .media .media-body h4 {
    font: 700 24px "Quicksand", sans-serif;
    margin-bottom: 13px;
    margin-top: 15px;
}

.card-item .media .media-body p {
    margin-top: 0;
    margin-bottom: 0px;
    font: 400 14px/24px "Quicksand", sans-serif;
    text-indent: 0px;
}